<mat-card *ngIf="currentIndex!=totalQuestions;else resultCard">
  <mat-card-header>
    <mat-card-title class="mx-0">Question - {{currentIndex + 1}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="row m-4">
      <mat-chip-list class="col-sm-12 d-flex justify-content-center">
        <mat-chip selected>{{questions[currentIndex].op1}}</mat-chip>
        <mat-chip selected color="accent">{{questions[currentIndex].operator}}</mat-chip>
        <mat-chip selected>{{questions[currentIndex].op2}}</mat-chip>
      </mat-chip-list>
    </div>
    <div class="row m-4">
      <mat-form-field class="col-sm-12 justify-content-center">
        <label>
          <input [value]="questions[currentIndex].value"
                 autocomplete="off" [(ngModel)]="questions[currentIndex].value" matInput
                 placeholder="Type your answer and hit next" type="text">
        </label>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>

    <button class="mx-2" *ngIf="currentIndex<totalQuestions" mat-flat-button color="primary"
            [disabled]="currentIndex==totalQuestions" (click)="nextQuestionClickHandler()">Next
    </button>

  </mat-card-actions>
</mat-card>


<ng-template #resultCard>

  <mat-card>
    <mat-card-header>
      <mat-card-title class="mx-0">Click submit to view result</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row m-4">
        <button class="mr-2" *ngIf="currentIndex==totalQuestions" mat-flat-button color="primary"
                (click)="submitButtonClickHandler()">Submit
        </button>
        <button *ngIf="currentIndex==totalQuestions" mat-flat-button color="accent"
                (click)="restartButtonClickHandler()">Restart
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>

